<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
      <div class="d-flex justify-content-center">
          <div class="text-center">
              <h1 class="mx-auto my-0 text-uppercase">Fresh Cuts</h1>
              <h2 class="text-white-50 mx-auto mt-2 mb-5">
                Behöver du ett professionellt snitt? Här på Fresh Cuts skapar vi magi med saxen
                <i class="fa-solid fa-scissors"></i>
              </h2>
              <a class="btn btn-primary" href="#about">Boka</a>
          </div>
      </div>
  </div>
</header>
