<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-lg-8">
              <h2 class="text-white mb-4">Om Oss</h2>
              <p class="text-white-50">
                Vi är en passionerad trio av Arian, Adam och Josef. Vår kärlek till hår och skägg är lika stark som vår skicklighet. Med ett leende på läpparna och saxen i handen skapar vi personliga looker som får dig att känna dig både snygg och nöjd. Välkommen till en plats där yrkeskunnighet möter värme och glädje!
              </p>
              <div class="d-flex gap-4 gap-md-0 justify-content-between">
                <div class="mb-4 mb-md-0" style="color: white;">
                <app-calendar></app-calendar>
                </div>
                <div class="mb-4 mb-md-0" style="color: white;">Item 2</div>
            </div>

          </div>
      </div>
  </div>
</section>
