<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
      <!-- Featured Project Row-->
      <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="assets/img/corleone.jpg" alt="..." /></div>
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Corleone</h4>
                  <p class="text-black-50 mb-0">Med utsikt över Kungsportsplatsen erbjuder Salong Corleone en harmonisk miljö där ditt hår får den kungliga behandling det förtjänar. Välkommen till en plats där stil möter välbefinnande!</p>
              </div>
          </div>
      </div>
      <!-- Project One Row-->
      <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/haircut.jpg" alt="..." /></div>
          <div class="col-lg-6">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Hårkonstverk</h4>
                          <p class="mb-0 text-white-50">Våra erfarna och skickliga frisörer är mästare på sitt hantverk. Med fingertoppskänsla och kreativitet skapar de unika frisyrer som passar just dig.</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row gx-0 justify-content-center">
          <div class="col-lg-6"><img class="img-fluid" src="assets/img/cut.jpg" alt="..." /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-black text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">Skägg</h4>
                          <p class="mb-0 text-white-50">Oavsett om du vill ha en snygg trimning, en välformad skägglinje eller en trendig skäggstil, kan du lita på att de levererar professionella resultat. Ditt skägg är deras duk, och de kommer att skapa en look som passar din personlighet och stil</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
